@charset "UTF-8";
.main_login_block {
  max-width: 320px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  margin-top: 200px;
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  color: black;
  text-decoration: none !important;
}

header {
  padding: 16px 0;
  background-color: #59b999;
}
header .content {
  display: flex;
  color: white;
  align-items: center;
}
header .content .login_container .user_name {
  padding-right: 15px;
  padding: 0 6px;
  border-bottom: 1px solid white;
  margin-right: 10px;
}
header .content a {
  color: white !important;
}

.logo {
  font-size: 21px;
  font-weight: 500;
}

header .content .login_container {
  margin-left: auto;
  display: flex;
  cursor: pointer;
}

.main-content {
  padding: 40px 0;
}

.filter-vacancy .filter-container.-open {
  display: flex;
}
.filter-vacancy .filter-container .option-row .form-block {
  margin-bottom: 15px;
}
.filter-vacancy .filter-container .option-row .form-block .select-input {
  width: 100%;
}
.filter-vacancy .filter-container .option-row .form-block .select-input .select-custom {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
.filter-vacancy .filter-container .option-row .form-block .radio-buttons {
  display: flex;
  flex-wrap: wrap;
}
.filter-vacancy .filter-container .option-row .form-block .radio-buttons .radio-buttons-item {
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
.filter-vacancy .filter-button {
  width: 100%;
  padding: 10px;
  background-color: #59b999;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  padding: 8px 6px;
  cursor: pointer;
}
.filter-vacancy .filter-button:hover {
  background-color: #4f957d;
}

.vacancies-container .vacancies-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 12px #edeff0;
  padding: 15px;
  justify-content: normal;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 16px;
  transition: height 1s ease-in, padding-bottom 0.1s, padding-top 0.1s;
}
.vacancies-container .vacancies-card a {
  color: black;
}
.vacancies-container .vacancies-card .btn.btn-success {
  color: white !important;
}
.vacancies-container .vacancies-card .job-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #59b999 !important;
}
.vacancies-container .vacancies-card .company {
  margin: 2px 0;
}
.vacancies-container .vacancies-card .experience {
  color: #59b999;
  font-weight: 600;
}
.vacancies-container .vacancies-card .salary {
  font-size: 18px;
  font-weight: 700;
}
.vacancies-container .vacancies-card .city {
  margin-bottom: 5px;
}
.vacancies-container .vacancies-card .description {
  margin-bottom: 5px;
  line-height: 1.4;
}
.vacancies-container .vacancies-card .button-wrap {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.vacancies-container .vacancies-card .button-wrap .button {
  margin-right: 12px;
  display: flex;
  align-items: center;
}
.vacancies-container .vacancies-card .button-wrap .button:last-child {
  margin-right: 0;
}
.vacancies-container .vacancies-card .button-wrap .button.-color-blue {
  background-color: #237cff;
  color: white;
}
.vacancies-container .vacancies-card .button-wrap .hint {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #59b999;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  text-align: center;
  margin-left: 6px;
  font-size: 11px;
  line-height: 1;
}
.vacancies-container .vacancies-card .button-wrap .response-menu {
  position: absolute;
  background-color: white;
  bottom: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 14px;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .resume-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .resume-wrap .resume-item {
  width: 200px;
  border: 1px solid #59b999;
  padding: 10px;
  border-radius: 8px;
  margin-right: 15px;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .resume-wrap .resume-item:last-child {
  margin-right: 0;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .resume-wrap .resume-item .resume-title {
  font-size: 15px;
  font-weight: 600;
  color: #59b999;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .resume-wrap .resume-item .pick-resume {
  font-size: 14px;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .resume-wrap .resume-item .description {
  height: 40px;
}
.vacancies-container .vacancies-card .button-wrap .response-menu .close {
  cursor: pointer;
}
.vacancies-container .vacancies-card .blocked-title {
  font-weight: 700;
  color: #fb6060;
}
.vacancies-container .vacancies-card .hidden-title {
  font-weight: 700;
  color: #efd800;
}
.vacancies-container .vacancies-card .skills {
  display: flex;
  margin-bottom: 5px;
}
.vacancies-container .vacancies-card .skills .skill__item {
  padding: 2px 7px;
  background-color: #237cff;
  color: white;
  border-radius: 8px;
  margin-right: 4px;
}
.vacancies-container .vacancies-card .response-status {
  position: absolute;
  left: 15px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.vacancies-container .vacancies-card .response-status .status-color {
  width: 15px;
  border: 1px solid #59b999;
  border-radius: 8px;
  height: 80%;
}
.vacancies-container .vacancies-card .response-status .status-color.-accept {
  background-color: #59b999;
}
.vacancies-container .vacancies-card .response-status .status-color.-declined {
  border-color: #fd3300;
  background-color: #fd3300;
}
.vacancies-container .vacancies-card .response-status-title {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 700;
}
.vacancies-container .vacancies-card .response-resume-title {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
}
.vacancies-container.responses-list .vacancies-card {
  padding-left: 45px;
}

.options-bar .heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #303233;
}
.options-bar .wrap {
  display: flex;
  flex-wrap: wrap;
}
.options-bar .options-bar-item {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 37px;
  border-radius: 25px;
  background-color: #59b999;
  color: white;
  margin-right: 5px;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 500;
}

button.button {
  border: transparent;
}

.button {
  display: inline-block;
  font-size: 16px;
  height: 32px;
  padding: 0 12px;
  font-family: inherit;
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.button.-green-color {
  background-color: #59b999;
  color: white !important;
}
.button.-red-color {
  color: white !important;
  background-color: red;
}
.button.-yellow-color {
  color: white !important;
  background-color: #e7c844;
}
.button.-light-green-color {
  color: white !important;
  background-color: #8be334;
}

.header_items {
  margin-right: 40px;
}
.header_items .wrap {
  display: flex;
}
.header_items .wrap .header-item {
  margin-right: 10px;
}

.form_block {
  max-width: 600px;
}
.form_block .form_input {
  width: 100%;
  max-width: 378px;
  padding: 10px 0;
}
.form_block .form_input input,
.form_block .form_input textarea {
  padding: 0 5px;
  width: 100%;
}

.login-registration-block {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.login-registration-block .login-heading {
  text-align: center;
  font-size: 17px;
  margin-bottom: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.login-registration-block input {
  margin-bottom: 15px;
}
.login-registration-block .button {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.loader-wrap .loader {
  display: none;
}
.loader-wrap.-loader-active .loader {
  display: block;
}
.loader-wrap.-loader-active .button-text {
  display: none;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 25px;
  height: 25px; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.select_input .select2-container {
  width: 100% !important;
}
.select_input .select2-container .select2-selection--multiple .select2-selection__choice {
  border: 1px solid #237cff;
  background-color: #237cff;
  color: white;
  border-radius: 8px;
  padding: 4px 12px;
  border-right: none;
}
.select_input .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  top: 0;
}
.select_input .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove span {
  visibility: hidden;
}
.select_input .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
  background-color: transparent;
  color: #333;
}

.response-button-wrap .picked-wrap {
  display: flex;
  align-items: center;
}
.response-button-wrap .picked-wrap .picked-resume {
  font-size: 12px;
  padding-left: 10px;
  color: #0373d5;
  font-weight: 800;
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.truncate-text.truncate-1 {
  -webkit-line-clamp: 1;
}
.truncate-text.truncate-2 {
  -webkit-line-clamp: 2;
}

.post-vacancy,
.resume-form,
.project-card {
  padding: 25px;
  border: 1px solid #59b999;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.post-vacancy .heading,
.resume-form .heading,
.project-card .heading {
  width: 80%;
  font-size: 20px;
  padding-bottom: 12px;
  margin: 0 auto;
}
.post-vacancy .heading.-projects-annotate,
.resume-form .heading.-projects-annotate,
.project-card .heading.-projects-annotate {
  font-size: 16px;
  text-decoration: underline;
  color: #59b999;
}
.post-vacancy .input-wrap,
.resume-form .input-wrap,
.project-card .input-wrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.post-vacancy .input-wrap input, .post-vacancy .input-wrap textarea,
.resume-form .input-wrap input,
.resume-form .input-wrap textarea,
.project-card .input-wrap input,
.project-card .input-wrap textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #59b999;
  padding: 8px 20px;
  font-size: 18px;
}
.post-vacancy .input-wrap input:focus, .post-vacancy .input-wrap textarea:focus,
.resume-form .input-wrap input:focus,
.resume-form .input-wrap textarea:focus,
.project-card .input-wrap input:focus,
.project-card .input-wrap textarea:focus {
  outline: none;
}
.post-vacancy .input-wrap input:disabled, .post-vacancy .input-wrap textarea:disabled,
.resume-form .input-wrap input:disabled,
.resume-form .input-wrap textarea:disabled,
.project-card .input-wrap input:disabled,
.project-card .input-wrap textarea:disabled {
  opacity: 0.5;
}
.post-vacancy .form-check,
.resume-form .form-check,
.project-card .form-check {
  max-width: 250px;
  padding-left: 20px;
  margin-top: 15px;
}
.post-vacancy .form-check input,
.resume-form .form-check input,
.project-card .form-check input {
  width: auto;
}
.post-vacancy .price-inputs .price-input-wrap,
.resume-form .price-inputs .price-input-wrap,
.project-card .price-inputs .price-input-wrap {
  position: relative;
}
.post-vacancy .price-inputs .price-input-wrap input,
.resume-form .price-inputs .price-input-wrap input,
.project-card .price-inputs .price-input-wrap input {
  position: relative;
  z-index: 99;
  font-weight: bold;
  font-size: 25px;
}
.post-vacancy .price-inputs .price-input-wrap .price-input,
.resume-form .price-inputs .price-input-wrap .price-input,
.project-card .price-inputs .price-input-wrap .price-input {
  padding: 4px 20px;
  border: 1px solid #59b999;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  top: 0;
}
.post-vacancy .select-input .error-wrap,
.post-vacancy .input-wrap .error-wrap,
.resume-form .select-input .error-wrap,
.resume-form .input-wrap .error-wrap,
.project-card .select-input .error-wrap,
.project-card .input-wrap .error-wrap {
  position: absolute;
  top: calc(100% + 2px);
  font-size: 12px;
  color: red;
}
.post-vacancy .text-input input.-error,
.post-vacancy .select-input.-error .select-custom,
.post-vacancy .price-inputs .price-input.-error,
.resume-form .text-input input.-error,
.resume-form .select-input.-error .select-custom,
.resume-form .price-inputs .price-input.-error,
.project-card .text-input input.-error,
.project-card .select-input.-error .select-custom,
.project-card .price-inputs .price-input.-error {
  border: 1px solid #f50606;
}
.post-vacancy.project-card .form-block,
.resume-form.project-card .form-block,
.project-card.project-card .form-block {
  margin-bottom: 15px;
}
.post-vacancy.project-card .form-block .heading,
.resume-form.project-card .form-block .heading,
.project-card.project-card .form-block .heading {
  width: 100%;
  font-size: 18px;
}
.post-vacancy.project-card .input-wrap,
.resume-form.project-card .input-wrap,
.project-card.project-card .input-wrap {
  width: 100%;
}
.post-vacancy.project-card .input-wrap.-job_title input,
.resume-form.project-card .input-wrap.-job_title input,
.project-card.project-card .input-wrap.-job_title input {
  color: #59b999;
  font-weight: bold;
}
.post-vacancy.project-card .select-input,
.resume-form.project-card .select-input,
.project-card.project-card .select-input {
  width: 100%;
}
.post-vacancy.project-card .footer .heading,
.resume-form.project-card .footer .heading,
.project-card.project-card .footer .heading {
  font-size: 13px;
  font-weight: 600;
}
.post-vacancy.project-card .footer .input-wrap input,
.resume-form.project-card .footer .input-wrap input,
.project-card.project-card .footer .input-wrap input {
  font-weight: 600;
}
.post-vacancy.project-card .buttons-wrap,
.resume-form.project-card .buttons-wrap,
.project-card.project-card .buttons-wrap {
  display: flex;
  flex-wrap: nowrap;
}
.post-vacancy.project-card .buttons-wrap .button-st,
.resume-form.project-card .buttons-wrap .button-st,
.project-card.project-card .buttons-wrap .button-st {
  width: 100%;
}

.form-block {
  margin-bottom: 25px;
  font-weight: 500;
}
.form-block .radio-buttons {
  display: flex;
}
.form-block .radio-buttons .radio-buttons-item {
  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid #59b999;
  border-radius: 15px;
}
.form-block .radio-buttons .radio-buttons-item:not(:last-child) {
  margin-right: 10px;
}
.form-block .radio-buttons .radio-buttons-item.-active {
  background-color: #59b999;
  color: white;
}

.select-custom {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #59b999;
  padding: 8px 20px 0;
  font-size: 18px;
  position: relative;
  z-index: 9;
}
.select-custom .select-option {
  cursor: pointer;
  padding-top: 3px;
  border-bottom: 1px solid transparent;
  padding-bottom: 8px;
}
.select-custom .list {
  display: none;
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  border: 1px solid #59b999;
  top: 100%;
  border-top: none;
  background-color: white;
}
.select-custom .list .list-option {
  padding: 8px 20px;
}
.select-custom .list .list-option:hover {
  transition: 0.3s;
  background-color: #59b999;
  color: white;
  cursor: pointer;
}
.select-custom .list .list-option.option-include {
  position: relative;
  display: flex;
  align-items: center;
}
.select-custom .list .list-option.option-include .option-text {
  opacity: 0.3;
}
.select-custom .list .list-option.option-include::after {
  content: "◉";
  display: block;
  margin-left: auto;
  margin-right: 15px;
  color: #59b999;
}
.select-custom .select-options {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  width: 100%;
}
.select-custom .select-options .select-option-item {
  border: 1px solid #59b999;
  border-radius: 15px;
  background-color: #59b999;
  color: white;
  padding: 2px 15px;
  margin-bottom: 6px;
}
.select-custom .select-options .select-option-item:not(:last-child) {
  margin-right: 6px;
}
.select-custom.select-open {
  z-index: 999;
  border-radius: 10px 10px 0 0;
}
.select-custom.select-open .select-option {
  border-bottom: 1px solid #59b999;
  width: 100%;
}
.select-custom.select-open .list {
  display: block;
  border-radius: 0 0 10px 10px;
}

.select-input {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.select-input .select2-container .select2-selection {
  border: 1px solid #59b999;
  padding: 8px 20px;
  height: auto;
  border-radius: 10px;
}
.select-input .select2-container .select2-selection .select2-selection__arrow {
  height: 100%;
  right: 20px;
}
.select-input .select2-container .select2-selection .select2-results__option {
  padding: 8px 20px;
}
.button-st {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  padding: 6px 20px;
  border-radius: 10px;
  font-weight: 500;
}
.button-st.-green {
  background-color: #59b999;
  color: white !important;
}
.button-st.-green:hover {
  background-color: #528a78;
}
.button-st.-transparent {
  background-color: transparent;
  border: 2px solid #59b999;
  color: black;
}
.button-st.-transparent:hover {
  background-color: #59b999;
  color: white !important;
}
.button-st.-border-yellow {
  border: 2px solid #ffc107;
  color: black;
}
.button-st.-border-yellow:hover {
  background-color: #ffc107;
  color: white !important;
}
.button-st.-red {
  border: 2px solid red;
}
.button-st.-red:hover {
  background-color: red;
  color: white !important;
}

.full-page-menu .menu-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #59b999;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  cursor: pointer;
  transition: 0.2s;
}
.full-page-menu .menu-item .description {
  font-weight: 600;
  color: #59b999;
  font-size: 20px;
}
.full-page-menu .menu-item:hover {
  box-shadow: inset 0 0 10px rgba(89, 185, 153, 0.5);
}
.full-page-menu .menu-item.-border-yellow {
  border-color: #ffc107;
  color: #ffc107;
}
.full-page-menu .menu-item.-border-yellow .description {
  color: #ffc107;
}
.full-page-menu .menu-item.-border-yellow:hover {
  box-shadow: inset 0 0 10px rgba(255, 193, 7, 0.5);
}

.projects-container .projects-list .projects-item {
  border: 1px solid #59b999;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  min-height: 278px;
}
.projects-container .projects-list .projects-item .-title {
  border-bottom: 1px solid #59b999;
  padding: 8px 12px;
  color: black;
  font-weight: 500;
}
.projects-container .projects-list .projects-item .content {
  padding: 0 12px 12px;
}
.projects-container .projects-list .projects-item .content .content-item.-job-title {
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 5px;
  color: #59b999;
}
.projects-container .projects-list .projects-item .content .content-item.-duration {
  font-size: 14px;
}
.projects-container .projects-list .projects-item .content .skills-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-container .projects-list .projects-item .content .skills-list .skill-item {
  border: 1px solid #59b999;
  border-radius: 15px;
  color: black;
  font-weight: 500;
  padding: 2px 10px;
  margin-bottom: 6px;
  font-size: 12px;
  margin-right: 2px;
}
.projects-container .projects-list .projects-item .footer {
  padding: 8px 12px;
  background-color: #59b999;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.projects-container .projects-list .projects-item .footer .company {
  font-size: 12px;
}
.projects-container .projects-list .projects-item.-add-project {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.projects-container .projects-list .projects-item.-add-project:hover {
  color: white;
  transition: 0.3s;
  background-color: #59b999;
  font-weight: 600;
}
.modals-container .vfm__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modals-container .vfm__container .modal-content {
  max-width: 620px;
  margin: 0 auto;
  border: 1px solid #59b999;
  border-radius: 10px;
}

