.main_login_block {
    max-width: 320px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
    margin-top: 200px;
}
body {
    font-family: 'Manrope', sans-serif;
}
a {
    color: black;
    text-decoration: none !important;
}

header {
    padding: 16px 0;
    background-color: #59b999;

    .content {
        display: flex;
        color: white;
        align-items: center;

        .login_container .user_name {
            padding-right: 15px;
            padding: 0 6px;
            border-bottom: 1px solid white;
            margin-right: 10px;
        }

        a {
            color: white !important;
        }

    }
}


.logo {
    font-size: 21px;
    font-weight: 500;
}

header .content .login_container {
    margin-left: auto;
    display: flex;
    cursor: pointer;
}

.main-content {
    padding: 40px 0;
}

.filter-vacancy {
    .filter-container {
        // display: none;

        &.-open {
            display: flex;
        }

        .option-row {
            .form-block {
                margin-bottom: 15px;
                .select-input {
                    width: 100%;

                    .select-custom {
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 16px;
                    }
                }

                .radio-buttons {
                    display: flex;
                    flex-wrap: wrap;

                    .radio-buttons-item {
                        margin-bottom: 10px;
                        font-size: 14px;
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                }
            }
        }
    }

    .filter-button {
        width: 100%;
        padding: 10px;
        background-color: #59b999;
        color: white;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        padding: 8px 6px;
        cursor: pointer;
        &:hover {
            background-color: #4f957d;
        }
    }
}

.vacancies-container {
    .vacancies-card {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        box-shadow: 0 2px 12px #edeff0;
        padding: 15px;
        justify-content: normal;
        border: 1px solid transparent;
        position: relative;
        margin-bottom: 16px;
        transition: height 1s ease-in,padding-bottom .1s,padding-top .1s;

        a {
            color: black;
        }

        .btn.btn-success {
            color: white !important;
        }



        .job-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;
            color: #59b999 !important;
        }
        .company {
            margin: 2px 0;
        }

        .experience {
            color: #59b999;
            font-weight: 600;
        }

        .salary {
            font-size: 18px;
            font-weight: 700;
        }

        .city {
            margin-bottom: 5px;
        }

        .description {
            margin-bottom: 5px;
            line-height: 1.4;
        }
        .button-wrap {
            margin-top: 5px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .button {
                margin-right: 12px;
                display: flex;
                align-items: center;
                &:last-child {
                    margin-right: 0;
                }
            }

            .button.-color-blue {
                background-color: #237cff;
                color: white;
            }

            .hint {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: #59b999;
                width: 25px;
                height: 25px;
                border-radius: 8px;
                text-align: center;
                margin-left: 6px;
                font-size: 11px;
                line-height: 1;
            }
            .response-menu {
                position: absolute;
                background-color: white;
                bottom: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 20px;
                font-size: 14px;

                .resume-wrap {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    .resume-item {
                        width: 200px;
                        border: 1px solid #59b999;
                        padding: 10px;
                        border-radius: 8px;
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                        .resume-title {
                            font-size: 15px;
                            font-weight: 600;
                            color: #59b999;
                        }

                        .pick-resume {
                            font-size: 14px;
                        }

                        .description {
                            height: 40px;
                        }
                    }
                }

                .close {
                    cursor: pointer;
                }
            }
        }



        .blocked-title {
            font-weight: 700;
            color: #fb6060;
        }

        .hidden-title {
            font-weight: 700;
            color: #efd800;
        }

        .skills {
            display: flex;
            margin-bottom: 5px;
            .skill__item {
                padding: 2px 7px;
                background-color: #237cff;
                color: white;
                border-radius: 8px;
                margin-right: 4px;
            }
        }

        .response-status {
            position: absolute;
            left: 15px;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            .status-color {
                width: 15px;
                border: 1px solid #59b999;
                border-radius: 8px;
                height: 80%;

                &.-accept {
                    background-color: #59b999;
                }

                &.-declined {
                    border-color: #fd3300;
                    background-color: #fd3300;
                }
            }
        }

        .response-status-title {
            position: absolute;
            right: 15px;
            top: 15px;
            font-weight: 700;
        }

        .response-resume-title {
            position: absolute;
            bottom: 15px;
            right: 15px;
            font-size: 12px;
        }

    }

    &.responses-list {
        .vacancies-card {
            padding-left: 45px;
        }
    }
}


.options-bar {
    .heading {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #303233;

    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .options-bar-item {
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 37px;
        border-radius: 25px;
        background-color: #59b999;
        color: white;
        margin-right: 5px;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 500;
    }
}
.vacancies-directions {

}

button.button {
    border: transparent;
}
.button {
    display: inline-block;
    font-size: 16px;
    height: 32px;
    padding: 0 12px;
    font-family: inherit;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
    &.-green-color {
        background-color: #59b999;
        color: white !important;
    }

    &.-red-color {
        color: white !important;
        background-color: red;
    }

    &.-yellow-color {
        color: white !important;
        background-color: #e7c844;
    }

    &.-light-green-color {
        color: white !important;
        background-color: #8be334;
    }



}

.header_items {
    margin-right: 40px;
    .wrap {
        display: flex;

        .header-item {
            margin-right: 10px;
        }
    }
}

.form_block {
    // background-color: red;
    max-width: 600px;

    .form_input {
        width: 100%;
        max-width: 378px;
        padding: 10px 0;
        input,
        textarea {
            padding: 0 5px;
            width: 100%;
        }
    }
}

.login-registration-block {
    margin-top: 200px;
    display: flex;
    justify-content: center;

    .login-heading {
        text-align: center;
        font-size: 17px;
        margin-bottom: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    input {
        margin-bottom: 15px;
    }

    .button {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
}
.loader-wrap {
    .loader {
        display: none;
    }

    &.-loader-active {
        .loader {
            display: block;
        }

        .button-text {
            display: none;
        }
    }
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.select_input {
    .select2-container {
        width: 100% !important;

        .select2-selection--multiple {
            .select2-selection__choice {
                border: 1px solid #237cff;
                background-color: #237cff;
                color: white;
                border-radius: 8px;
                padding: 4px 12px;
                border-right: none;
                .select2-selection__choice__remove {
                    padding: 0 4px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    bottom: 0;
                    top: 0;

                    span {
                        visibility: hidden;
                    }

                    &:hover {
                        background-color: transparent;
                        color: #333;
                    }
                }
            }
        }
    }
}

.response-button-wrap {
    .picked-wrap {
        display: flex;
        align-items: center;

        .picked-resume {
            font-size: 12px;
            padding-left: 10px;
            color: #0373d5;
            font-weight: 800;
        }
    }
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  &.truncate-1 {
    -webkit-line-clamp: 1;
  }
  &.truncate-2 {
    -webkit-line-clamp: 2;
  }
}

.post-vacancy,
.resume-form,
.project-card {
    padding: 25px;
    border: 1px solid #59b999;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    .heading {
        width: 80%;
        font-size: 20px;
        padding-bottom: 12px;
        margin: 0 auto;

        &.-projects-annotate {
            font-size: 16px;
            text-decoration: underline;
            color: #59b999;
        }
    }

    .input-wrap {
        width: 80%;
        margin: 0 auto;
        position: relative;
        input, textarea {
            width: 100%;
            border-radius: 10px;
            border: 1px solid #59b999;
            padding: 8px 20px;
            font-size: 18px;
            &:focus {
                outline: none;
            }
            &:disabled {
                opacity: .5;
            }
        }

    }

    .form-check {
        max-width: 250px;
        padding-left: 20px;
        margin-top: 15px;

        input {
            width: auto;
        }
    }

    .price-inputs {
        .price-input-wrap {
            position: relative;

            input {
                position: relative;
                z-index: 99;
                font-weight: bold;
                font-size: 25px;
            }
            .price-input {
                padding: 4px 20px;
                border: 1px solid #59b999;
                border-radius: 10px;
                position: absolute;
                width: 100%;
                top: 0;
            }
        }
    }

    .select-input,
    .input-wrap {
        .error-wrap {
            position: absolute;
            top: calc(100% + 2px);
            font-size: 12px;
            color: red;
        }
    }

    .text-input input.-error,
    .select-input.-error  .select-custom,
    .price-inputs .price-input.-error {
        border: 1px solid #f50606;
    }

    &.project-card {
        .form-block {
            margin-bottom: 15px;

            .heading {
                width: 100%;
                font-size: 18px;
            }
        }

        .input-wrap {
            width: 100%;

            &.-job_title input{
                color: #59b999;
                font-weight: bold;
            }
        }

        .select-input {
            width: 100%;
        }

        .footer {
            .heading {
                font-size: 13px;
                font-weight: 600;
            }
            .input-wrap input {
                font-weight: 600;
            }
        }
        .buttons-wrap {
            display: flex;
            flex-wrap: nowrap;

            .button-st {
                width: 100%;
            }
        }


    }
}
.form-block {
    margin-bottom: 25px;
    font-weight: 500;
    .radio-buttons {
        display: flex;
        .radio-buttons-item {
            cursor: pointer;
            padding: 8px 10px;
            border: 1px solid #59b999;
            border-radius: 15px;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &.-active {
                background-color: #59b999;
                color: white;
            }
        }

    }
}
.select-custom {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #59b999;
    padding: 8px 20px 0;

    font-size: 18px;
    position: relative;
    z-index: 9;

    .select-option {
        cursor: pointer;
        padding-top: 3px;
        border-bottom: 1px solid transparent;
        padding-bottom: 8px;
    }

    .list {
        display: none;
        position: absolute;
        width: calc(100% + 2px);
        left: -1px;
        border: 1px solid #59b999;
        top: 100%;
        border-top: none;
        background-color: white;

        .list-option {
            padding: 8px 20px;
            &:hover {
                transition: .3s;
                background-color: #59b999;
                color: white;
                cursor: pointer;
            }

            &.option-include {
                position: relative;
                display: flex;
                align-items: center;
                .option-text {
                    opacity: .3;
                }
                &::after {
                    content: '◉';
                    display: block;
                    margin-left: auto;
                    margin-right: 15px;
                    color: #59b999;
                }
            }
        }
    }

    .select-options {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        width: 100%;
        .select-option-item {
            border: 1px solid #59b999;
            border-radius: 15px;
            background-color: #59b999;
            color: white;
            padding: 2px 15px;
            margin-bottom: 6px;

            &:not(:last-child) {
                margin-right: 6px;
            }
        }
    }

    .multi-select {

    }

    &.select-open {
        z-index: 999;
        border-radius: 10px 10px 0 0;
        .select-option {
            border-bottom: 1px solid #59b999;
            width: 100%;
        }
        .list {
            display: block;
            border-radius: 0 0 10px 10px;
        }
    }
}
.select-input {
    width: 80%;
    margin: 0 auto;
    display: block;
    .select2-container {
        .select2-selection {
            border: 1px solid #59b999;
            padding: 8px 20px;
            height: auto;
            border-radius: 10px;

            .select2-selection__arrow {
                height: 100%;
                right: 20px;
            }

            .select2-results__option {
                padding: 8px 20px;
            }
        }
    }

    .select2-results {

    }
}


.button-st {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    padding: 6px 20px;
    border-radius: 10px;
    font-weight: 500;
    &.-green {
        background-color: #59b999;
        color: white !important;

        &:hover {
            background-color: #528a78;
        }
    }

    &.-transparent {
        background-color: transparent;
        border: 2px solid #59b999;
        color: black;

        &:hover {
            background-color: #59b999;
            color: white !important;
        }
    }

    &.-border-yellow {
        border: 2px solid #ffc107;

        color: black;

        &:hover {
            background-color: #ffc107;
            color: white !important;

        }
    }

    &.-red {
        border: 2px solid red;

        &:hover {
            background-color: red;
            color: white !important;
        }
    }
}

.full-page-menu {

    .menu-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #59b999;
        border-radius: 10px;
        width: 100%;
        height: 50vh;
        cursor: pointer;
        transition: .2s;

        .description {
            font-weight: 600;
            color: #59b999;
            font-size: 20px;
        }
        &:hover {
            box-shadow: inset 0 0 10px rgba(89, 185, 153, 0.5);
        }

        &.-border-yellow {
            border-color: #ffc107;
            color: #ffc107;

            .description {
                color: #ffc107;
            }
            &:hover {
                box-shadow: inset 0 0 10px rgba(255, 193, 7, 0.5);
            }
        }
    }
}



.projects-container {
    .projects-list {
        .projects-item {
            border: 1px solid #59b999;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;
            min-height: 240px;
            .-title {
                border-bottom: 1px solid #59b999;
                padding: 8px 12px;
                color: black;
                font-weight: 500;

            }
            .content {
                padding: 0 12px 12px;
                .content-item {
                    &.-job-title {
                        font-weight: 600;
                        margin-bottom: 7px;
                        margin-top: 5px;
                        color: #59b999;
                    }

                    &.-duration {
                        font-size: 14px;
                    }
                }

                .skills-list {
                    display: flex;
                    flex-wrap: wrap;
                    .skill-item {
                        border: 1px solid #59b999;
                        border-radius: 15px;
                        color: black;
                        font-weight: 500;
                        padding: 2px 10px;
                        margin-bottom: 6px;
                        font-size: 12px;
                        margin-right: 2px;
                    }
                }
            }

            .footer {
                padding: 8px 12px;
                background-color: #59b999;
                color: white;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: auto;

                .duration {

                }

                .company {
                    font-size: 12px;
                }
            }

            &.-add-project {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                &:hover {
                    color: white;
                    transition: .3s;
                    background-color: #59b999;
                    font-weight: 600;

                }
            }
        }
    }

    .add-project {

    }
}

.modals-container {
    .vfm__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-content {
            max-width: 620px;
            margin: 0 auto;
            border: 1px solid #59b999;
            border-radius: 10px;
        }
    }



}

